<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="brand" href="#">Treebook</a>
			<ul class="nav">
			<li><%= link_to "All Statuses", :feed %></li>
			<li><%= link_to "My Statuses", :feed %><li>
			<li><%= link_to "New", new_status_path %></li>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
				<li><%= link_to current_user.full_name, :edit %></li>
				<li><%= link_to "Log Out", :logout %></li>
				<% else %>
				<li><%= link_to "Register", :register %></li>
				<li><%= link_to "Login", :login %></li>
				<% end %>
			</ul>
			</div>
		</div>
	</div>
	<div class="container">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
			<% end %>
		
		<%= yield %>
	</div>
</body>
</html>
